/* table {
    table-layout: fixed;
    width: 100%; 
}
th, td {
    overflow: hidden;  
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
 
th:nth-child(1), td:nth-child(1) { width: 15%; } 
th:nth-child(2), td:nth-child(2) { width: 25%; }  
  */